html {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
/* line 1, ../scss/partials/_footer.scss */
footer {
  width: 100%;
  height: 278px;
  background-color: #19353F;
}
/* line 5, ../scss/partials/_footer.scss */
footer .row {
  background-color: #19353F;
  padding-top: 30px;
}

/* line 35, ../scss/common/_common.scss */
footer a {
  color: #fff;
  text-decoration: none;
}

/* line 39, ../scss/common/_common.scss */
footer ul {
  list-style-type: none;
}
footer ul li {
  height: 19px;
}
/* line 10, ../scss/partials/_footer.scss */
footer .row ul li h4 {
  line-height: 0px;
  padding-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'lato-light';
  font-weight: 300;

}
/* line 13, ../scss/partials/_footer.scss */
footer .row ul li a {
  font-size: 12px;
  padding-bottom: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  line-height: 0;
}
/* line 23, ../scss/common/_layout.scss */
footer .row {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  clear: both;
  position: relative;
  *zoom: 1;
}
/* line 204, ../scss/jeet/_grid.scss */
footer .row:before, .row:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
footer .row:after {
  clear: both;
}
/* line 204, ../scss/jeet/_grid.scss */
footer .row:before, .row:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
footer .row:after {
  clear: both;
}

/* line 60, ../scss/common/_layout.scss */
.col-3-12 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-3-12:before, .col-3-12:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-3-12:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-3-12:last-child {
  margin-right: 0%;
}

@font-face {
  font-family: 'lato-black';
  src: url("../fonts/lato/Lato-Black.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'lato-black-italic';
  src: url("../fonts/lato/Lato-BlackItalic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'lato-bold';
  src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'lato-bold-italic';
  font-style: italic;
  src: url("../fonts/lato/Lato-BoldItalic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'lato-semi-bold';
  src: url("../fonts/lato/Lato-Semibold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'lato-regular';
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'lato-medium';
  src: url("../fonts/lato/Lato-Medium.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'lato-light';
  src: url("../fonts/lato/Lato-Light.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'lato-light-italic';
  src: url("../fonts/lato/Lato-LightItalic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@media (max-width: 767px) {

  /* line 94, ../scss/common/_layout.scss */
  .col-3-12 {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
  }
  /* line 204, ../scss/jeet/_grid.scss */
  .col-3-12:before, .col-3-12:after {
    content: '';
    display: table;
  }
  /* line 208, ../scss/jeet/_grid.scss */
  .col-3-12:after {
    clear: both;
  }
  /* line 48, ../scss/jeet/_grid.scss */
  .col-3-12:last-child {
    margin-right: 0%;
  }

  /* line 27, ../scss/partials/_footer.scss */
  footer .row {
    padding-top: 25px;
  }
  /* line 29, ../scss/partials/_footer.scss */
  footer .row ul {
    padding-left: 40px;
    margin-bottom: 22px;
  }
  /* line 32, ../scss/partials/_footer.scss */
  footer .row ul li {
    margin: 5px 0;
  }
  /* line 34, ../scss/partials/_footer.scss */
  footer .row ul li h4 {
    padding-bottom: 8px;
  }
}