@charset "UTF-8";
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* -- reset -- */
/* line 1, ../scss/reset/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* mixins */
/* centralise your fonts here */
/* for best browser support use px of em */
/* common */
/* line 1, ../scss/common/_common.scss */
.ir {
  display: block;
  text-indent: -9999px;
  text-transform: capitalize;
}

/* line 7, ../scss/common/_common.scss */
.fouc {
  visibility: hidden;
}

/* line 10, ../scss/common/_common.scss */
.flexslider {
  max-width: 1440px;
  height: 440px;
}

/* line 15, ../scss/common/_common.scss */
.business {
  background: url("/images/home--business.png") no-repeat scroll center center;
  margin-bottom: 80px;
  height: 400px;
}

/* line 20, ../scss/common/_common.scss */
.property {
  background: url("/images/home--property.png") no-repeat scroll center center;
  margin-bottom: 80px;
  height: 400px;
}

/* line 25, ../scss/common/_common.scss */
.court {
  background: url("/images/home--court2.png") no-repeat scroll center center;
  margin-bottom: 80px;
  height: 400px;
}

/* line 30, ../scss/common/_common.scss */
.family {
  background: url("/images/home--family.png") no-repeat scroll center center;
  margin-bottom: 80px;
  height: 400px;
}

/* line 35, ../scss/common/_common.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 39, ../scss/common/_common.scss */
ul {
  list-style-type: none;
}

/* line 1, ../scss/common/_layout.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/common/_layout.scss */
html {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 12, ../scss/common/_layout.scss */
body {
  margin: 0 auto;
}

/* line 16, ../scss/common/_layout.scss */
.container {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

/* line 23, ../scss/common/_layout.scss */
.row {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  clear: both;
  position: relative;
  *zoom: 1;
}
/* line 204, ../scss/jeet/_grid.scss */
.row:before, .row:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.row:after {
  clear: both;
}
/* line 204, ../scss/jeet/_grid.scss */
.row:before, .row:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.row:after {
  clear: both;
}

/* line 29, ../scss/common/_layout.scss */
.computer-center {
  *zoom: 1;
  width: auto;
  max-width: 711px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
/* line 204, ../scss/jeet/_grid.scss */
.computer-center:before, .computer-center:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.computer-center:after {
  clear: both;
}

/* line 34, ../scss/common/_layout.scss */
.row--full, .row--form {
  *zoom: 1;
  position: relative;
}
/* line 204, ../scss/jeet/_grid.scss */
.row--full:before, .row--full:after, .row--form:before, .row--form:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.row--full:after, .row--form:after {
  clear: both;
}

/* line 40, ../scss/common/_layout.scss */
.col-3-9 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-3-9:before, .col-3-9:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-3-9:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-3-9:last-child {
  margin-right: 0%;
}

/* line 44, ../scss/common/_layout.scss */
.col-6-9 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-6-9:before, .col-6-9:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-6-9:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-6-9:last-child {
  margin-right: 0%;
}

/* line 50, ../scss/common/_layout.scss */
.col-1-2 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-1-2:before, .col-1-2:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-1-2:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-1-2:last-child {
  margin-right: 0%;
}

/* line 54, ../scss/common/_layout.scss */
.col-2-12 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 14.16667%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-2-12:before, .col-2-12:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-2-12:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-2-12:last-child {
  margin-right: 0%;
}

/* line 60, ../scss/common/_layout.scss */
.col-3-12 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-3-12:before, .col-3-12:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-3-12:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-3-12:last-child {
  margin-right: 0%;
}

/* line 63, ../scss/common/_layout.scss */
.col-4-12 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-4-12:before, .col-4-12:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-4-12:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-4-12:last-child {
  margin-right: 0%;
}

/* line 67, ../scss/common/_layout.scss */
.col-5-12 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-5-12:before, .col-5-12:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-5-12:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-5-12:last-child {
  margin-right: 0%;
}

/* line 71, ../scss/common/_layout.scss */
.col-6-12 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-6-12:before, .col-6-12:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-6-12:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-6-12:last-child {
  margin-right: 0%;
}

/* line 74, ../scss/common/_layout.scss */
.col-7-12 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 57.08333%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-7-12:before, .col-7-12:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-7-12:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-7-12:last-child {
  margin-right: 0%;
}

/* line 80, ../scss/common/_layout.scss */
.col-8-12 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-8-12:before, .col-8-12:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-8-12:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-8-12:last-child {
  margin-right: 0%;
}

/* line 86, ../scss/common/_layout.scss */
.col-9-12 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 204, ../scss/jeet/_grid.scss */
.col-9-12:before, .col-9-12:after {
  content: '';
  display: table;
}
/* line 208, ../scss/jeet/_grid.scss */
.col-9-12:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
.col-9-12:last-child {
  margin-right: 0%;
}

/* mobile + tablet */
/* strictly mobile*/
/* strictly tablet*/
/* line 1, ../scss/common/_typography.scss */
body {
  font-family: 'lato-light';
  color: #fff;
}

/* line 7, ../scss/common/_typography.scss */
h1 {
  font-family: 'lato-semi-bold';
  font-size: 36px;
  text-transform: uppercase;
}

/* line 18, ../scss/common/_typography.scss */
h3 {
  font-family: 'lato-regular';
  font-size: 24px;
}
/* line 21, ../scss/common/_typography.scss */
h3.white {
  color: #fff;
}

/* line 27, ../scss/common/_typography.scss */
h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'lato-light';
}

/* line 33, ../scss/common/_typography.scss */
h5 {
  font-family: 'lato-semi-bold';
}

/* line 37, ../scss/common/_typography.scss */
p {
  font-size: 16px;
}

@font-face {
  font-family: 'lato-black';
  src: url("../fonts/lato/Lato-Black.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3ΓÇö5 */
}
@font-face {
  font-family: 'lato-black-italic';
  src: url("../fonts/lato/Lato-BlackItalic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3ΓÇö5 */
}
@font-face {
  font-family: 'lato-bold';
  src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3ΓÇö5 */
}
@font-face {
  font-family: 'lato-bold-italic';
  font-style: italic;
  src: url("../fonts/lato/Lato-BoldItalic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3ΓÇö5 */
}
@font-face {
  font-family: 'lato-semi-bold';
  src: url("../fonts/lato/Lato-Semibold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3ΓÇö5 */
}
@font-face {
  font-family: 'lato-regular';
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3ΓÇö5 */
}
@font-face {
  font-family: 'lato-light';
  src: url("../fonts/lato/Lato-Light.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3ΓÇö5 */
}
/* line 1, ../scss/common/_stickyfooter.scss */
* {
  margin: 0;
}

/* line 4, ../scss/common/_stickyfooter.scss */
html, body {
  height: 100%;
}

/* line 7, ../scss/common/_stickyfooter.scss */
.push {
  min-height: 100%;
  margin-bottom: -219px;
  padding-top: 10px;
}

/* line 12, ../scss/common/_stickyfooter.scss */
.push:after {
  content: "";
  display: block;
}

/* line 17, ../scss/common/_stickyfooter.scss */
.footer, .push:after {
  height: 219px;
}

/* partials */
/* line 1, ../scss/partials/_header.scss */
header {
  position: fixed;
  height: 42px;
  width: 100%;
  z-index: 1;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
/* line 9, ../scss/partials/_header.scss */
header .row--full .landing--header-nav {
  padding-top: 9px;
  padding-right: 2%;
}
/* line 12, ../scss/partials/_header.scss */
header .row--full .landing--header-nav ul {
  float: right;
}
/* line 14, ../scss/partials/_header.scss */
header .row--full .landing--header-nav ul li {
  display: inline-block;
  margin-left: 30px;
}
/* line 17, ../scss/partials/_header.scss */
header .row--full .landing--header-nav ul li a {
  font-size: 14px;
  color: #4D4D4D;
}
/* line 20, ../scss/partials/_header.scss */
header .row--full .landing--header-nav ul li a.landing--header-signin {
  background: #00A478;
  color: #fff;
  padding: 5px 30px;
  border-radius: 4px;
}
/* line 25, ../scss/partials/_header.scss */
header .row--full .landing--header-nav ul li a.landing--header-signin:hover {
  background-color: #00BF8C;
  transition: all ease .6s;
}
/* line 35, ../scss/partials/_header.scss */
header .row--full .landing--header-logo img {
  padding-left: 10%;
  padding-top: 5px;
}

/* line 1, ../scss/partials/_footer.scss */
footer {
  width: 100%;
  height: 278px;
  background-color: #19353F;
  padding-top: 40px;
}
/* line 8, ../scss/partials/_footer.scss */
footer ul li h4 {
  padding-bottom: 10px;
}
/* line 11, ../scss/partials/_footer.scss */
footer ul li a {
  font-size: 12px;
  padding-bottom: 5px;
}

/* views */
/* line 1, ../scss/views/_home.scss */
.landing--home-bg {
  position: relative;
  height: 611px;
  background: url("../images/landing-home-bg.png") center center no-repeat;
  background-size: cover;
  display: block;
  z-index: 0;
}
/* line 8, ../scss/views/_home.scss */
.landing--home-bg .landing-home-bg-overlap {
  position: absolute;
  background: url("../images/overlap-black.png") center center;
  z-index: 1;
  width: 100%;
  height: 100%;
}
/* line 15, ../scss/views/_home.scss */
.landing--home-bg .row--full {
  z-index: 2;
  text-align: center;
}
/* line 18, ../scss/views/_home.scss */
.landing--home-bg .row--full h1 {
  padding-top: 140px;
  width: 530px;
  margin: 0 auto;
}
/* line 23, ../scss/views/_home.scss */
.landing--home-bg .row--full p {
  width: 400px;
  margin: 0 auto;
}
/* line 27, ../scss/views/_home.scss */
.landing--home-bg .row--full a.landing--home-tryfree {
  position: relative;
  top: 50px;
  width: 148px;
  font-family: 'lato-semi-bold';
  font-size: 14px;
  background-color: #00A478;
  padding: 10px 40px;
  border-radius: 4px;
  margin: 0 auto;
}
/* line 37, ../scss/views/_home.scss */
.landing--home-bg .row--full a.landing--home-tryfree:hover {
  background-color: #00BF8C;
  transition: all ease .8s;
}

/* line 47, ../scss/views/_home.scss */
.landing--home-desc {
  background-color: #EDEDED;
}
/* line 49, ../scss/views/_home.scss */
.landing--home-desc img {
  position: relative;
  top: -150px;
}
/* line 53, ../scss/views/_home.scss */
.landing--home-desc .col-3-12 {
  position: relative;
  top: -100px;
  left: 3%;
  color: #4D4D4D;
}
/* line 61, ../scss/views/_home.scss */
.landing--home-desc .col-3-12 p {
  width: 174px;
}

/* line 66, ../scss/views/_home.scss */
.landing--home-quote {
  position: relative;
  background: url("../images/quote.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 330px;
  z-index: 0;
}
/* line 73, ../scss/views/_home.scss */
.landing--home-quote .landing--home-overlap {
  position: absolute;
  background: url("../images/overlap.png") center center;
  z-index: 1;
  width: 100%;
  height: 100%;
}
/* line 80, ../scss/views/_home.scss */
.landing--home-quote .row--full {
  text-align: center;
  z-index: 2;
}
/* line 83, ../scss/views/_home.scss */
.landing--home-quote .row--full h3 {
  padding-top: 80px;
  width: 800px;
  margin: 0 auto;
}
/* line 88, ../scss/views/_home.scss */
.landing--home-quote .row--full p {
  position: relative;
  top: 40px;
  width: 200px;
  margin: 0 auto;
  font-size: 18px;
  font-style: italic;
}
/* line 96, ../scss/views/_home.scss */
.landing--home-quote .row--full a {
  position: relative;
  top: 100px;
  font-family: 'lato-regular';
  font-size: 14px;
  color: #00A478;
  background: #fff;
  border-radius: 4px;
  padding: 12px 27px;
}
/* line 105, ../scss/views/_home.scss */
.landing--home-quote .row--full a:hover {
  opacity: 0.7;
  transition: all ease .8s;
}

/* line 1, ../scss/views/_main-features.scss */
.mainfea--home-bg {
  position: relative;
  height: 524px;
  background: url("../images/main-features-header.png") center bottom no-repeat;
  background-size: cover;
  display: block;
  z-index: 0;
}
/* line 8, ../scss/views/_main-features.scss */
.mainfea--home-bg .landing-home-bg-overlap {
  position: absolute;
  background: url("../images/overlap-black.png") center center;
  z-index: 1;
  width: 100%;
  height: 100%;
}
/* line 15, ../scss/views/_main-features.scss */
.mainfea--home-bg .row--full {
  z-index: 2;
  text-align: center;
  padding-top: 50px;
}
/* line 19, ../scss/views/_main-features.scss */
.mainfea--home-bg .row--full h1 {
  padding-top: 140px;
  width: 530px;
  margin: 0 auto;
}
/* line 24, ../scss/views/_main-features.scss */
.mainfea--home-bg .row--full p {
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
}

/* line 32, ../scss/views/_main-features.scss */
.mainfea--home-feature {
  position: relative;
  background-color: #EDEDED;
  color: #4E4E4E;
}
/* line 36, ../scss/views/_main-features.scss */
.mainfea--home-feature .row {
  padding: 70px 0px;
}
/* line 38, ../scss/views/_main-features.scss */
.mainfea--home-feature .row .mainfea--home-feature-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 241px;
  padding-left: 40px;
}
/* line 44, ../scss/views/_main-features.scss */
.mainfea--home-feature .row .mainfea--home-feature-desc h5 {
  padding-bottom: 10px;
}
/* line 48, ../scss/views/_main-features.scss */
.mainfea--home-feature .row .mainfea--home-feature-img {
  height: 241px;
  border: 1px solid #333;
}
/* line 52, ../scss/views/_main-features.scss */
.mainfea--home-feature .row .mainfea--home-feature-img img {
  max-width: 431px;
  max-height: 241px;
}

/* line 60, ../scss/views/_main-features.scss */
.mainfea--home-quote {
  position: relative;
  background: url("../images/quote.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 330px;
  z-index: 0;
}
/* line 67, ../scss/views/_main-features.scss */
.mainfea--home-quote .mainfea--home-overlap {
  position: absolute;
  background: url("../images/overlap.png") center center;
  z-index: 1;
  width: 100%;
  height: 100%;
}
/* line 74, ../scss/views/_main-features.scss */
.mainfea--home-quote .row--full {
  text-align: center;
  z-index: 2;
}
/* line 77, ../scss/views/_main-features.scss */
.mainfea--home-quote .row--full h3 {
  padding-top: 80px;
  width: 800px;
  margin: 0 auto;
}
/* line 82, ../scss/views/_main-features.scss */
.mainfea--home-quote .row--full p {
  position: relative;
  top: 40px;
  width: 200px;
  margin: 0 auto;
  font-size: 18px;
  font-style: italic;
}
/* line 90, ../scss/views/_main-features.scss */
.mainfea--home-quote .row--full a {
  position: relative;
  top: 100px;
  font-family: 'lato-regular';
  font-size: 14px;
  color: #00A478;
  background: #fff;
  border-radius: 4px;
  padding: 12px 27px;
}
/* line 99, ../scss/views/_main-features.scss */
.mainfea--home-quote .row--full a:hover {
  opacity: 0.7;
  transition: all ease .8s;
}
