header{
    position: fixed;
    height: 42px;
    width: 100%;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid #ccc;
    .row--full{
        .landing--header-nav{
            padding-top: 9px;
            padding-right: 2%;
            ul{
                float: right;
                li{
                    display: inline-block;
                    margin-left: 30px;
                    a{
                        font-size: 14px;
                        color: $text-dark-grey;
                        &:hover{
                            color:$green;
                            transition: all ease .6s;
                        }
                        &.landing--header-signin{
                            background: $green;
                            color: #fff;
                            padding: 5px 30px;
                            border-radius: 4px;
                            &:hover{
                                background-color:$light-green;
                                transition: all ease .6s;
                            }
                        }
                    }
                }
            }
        }
        .landing--header-logo{
            img{
                padding-left: 10%;
                padding-top: 5px;
            }
        }
    }
}