.landing--home-bg{
    position: relative;
    height: 611px;
    background: url('../images/landing-home-bg.png') center center no-repeat;
    background-size: cover;
    display: block;
    z-index: 0;
    .landing-home-bg-overlap{
        position: absolute;
        background: url("../images/overlap-black.png") center center;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .row--full{  
        z-index: 2;
        text-align: center;
        h1{
            padding-top: 180px;
            width: 530px;
            margin: 0 auto;
        }
        p{
            width: 400px;
            margin: 0 auto;
            &.subtitle{
                padding-bottom: 50px;
            }
            &.sublabel{
                padding-top: 25px;
                font-size: 14px;
            }
        }
        a.landing--home-tryfree{ 
            position: relative;
//            top: 50px;
            width: 148px;
            font-family: 'lato-semi-bold';
            font-size: 14px;
            background-color: $green;
            padding: 10px 40px;
            border-radius: 4px;
            margin: 0 auto 20px auto;
            &:hover{
                background-color:$light-green;
                transition: all ease .8s;
            }
//            -webkit-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.4);
//            -moz-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.4);
//            box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.4);       
        }
    }
}
.landing--home-desc{
    background-color: $background-mid-grey;
    
    .row{
       img{
            position: relative;
            top:-150px;
           margin-bottom: 10px;
        }
        margin-bottom: 10px;
    }
    
    .row--full{
        text-align: center;

        a{
            position: relative;
            top:-50px;
            width: 148px;
            font-family: 'lato-semi-bold';
            font-size: 14px;
            background-color: $green;
            padding: 15px 35px;
            border-radius: 4px;
            margin: 0 auto;
            &:hover{
                background-color:$light-green;
                transition: all ease .8s;
            }
        } 
    }
    .col-3-12{
        position: relative;
        top:-100px;
        left: 3%;
        color: $text-dark-grey;
        h5{
            padding-bottom: 12px;
            
        }
        p{
             width: 180px;
        }
    }
}
.landing--home-quote{
    position: relative;
    background: url('../images/quote.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 330px;
    z-index: 0;
    .landing--home-overlap{
        position: absolute;
        background: url("../images/overlap.png") center center;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .row--full{
        text-align: center;
        z-index: 2;
        h3{
            padding-top: 80px;
            width: 730px;
            margin: 0 auto;
        }
        p{
            position: relative;
            top: 40px;
            width: 200px;
            margin: 0 auto;
            font-size: 18px;
            font-style: italic;
        }
        a{
            position: relative;
            top: 100px;
            font-family: 'lato-regular';
            font-size: 14px;
            color: $green;
            background: #fff;
            border-radius: 4px;
            padding: 12px 27px;
            &:hover{
                opacity: 0.7;
                transition: all ease .8s;
            }
        }
    }
}