.landing--home-bg{
    position: relative;
    height: 611px;
    display: block;
    z-index: 0;
    .landing-home-computer{
        text-align: center;
        top:40px;
        margin: 0 auto;
        position: relative;
        width: 711px;
        height: 307px;
        max-width: 100%;
        z-index: 1;
        img{
            max-width: 100%;

        }
    }
    .landing--home-bg-overlap{
        position: absolute;
        background: url("../images/overlap-black.png") center center;
        z-index: 1;
        width: 100%;
        height: 100%;

    }
    .row--full{  
        z-index: 2;
        text-align: center;
        h1{
            padding-top: 180px;
            width: 100%;
            margin: 0 auto;
            font-size: 50px;
            font-family: lato-medium;
             letter-spacing: 2px;
        }
        p{
            width: 400px;
            margin: 0 auto;
            &.subtitle{
                padding-bottom: 50px;
            }
            &.sublabel{
                padding-top: 25px;
                font-size: 14px;
            }
        }
        a.landing--home-tryfree{ 
            position: relative;
//            top: 50px;
            width: 148px;
            font-family: 'lato-semi-bold';
            font-size: 14px;
            background-color: $green;
            padding: 10px 40px;
            border-radius: 4px;
            margin: 0 auto 20px auto;
            transition: background ease .8s;
            &:hover{
                background-color:$light-green;
               
            }
//            -webkit-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.4);
//            -moz-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.4);
//            box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.4);       
        }
    }
}
.landing--home-desc{
    // background-color: #F4F4F4;
    background-color: #EDEDED;
    padding-top: 220px;
    padding-bottom: 100px;
    h3{
        text-align: center;
        padding-bottom: 65px;
        font-size: 30px;
        color: $text-dark;
        font-weight: 300;
        font-family: 'lato-light';
    }
    .row--full{
        padding: 0 7%;
        .col-3-12{
            text-align: center;

            position: relative;
            color: $text-dark-grey;
            .landing--home-circle{
                margin:0 auto;
                position: relative;
                width: 200px;
                height: 200px;
                border-radius: 150px;
                -webkit-border-radius: 150px;
                -moz-border-radius: 150px;
                // border: 1px solid #ddd;
                box-shadow: 0 0 5px rgba(0, 0, 0, .2);
                -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
                -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
                img{
                    width: 100%;


                }
    
            }
            h5{
                padding-top: 30px;
                padding-bottom: 12px;
                font-weight: 300;
                width: 200px;
                margin: 0 auto;
                
            }
            p{
                 width: 200px;
                 margin:0 auto;
                 padding-bottom: 40px;
            }
        }
    }
    
    .row--full{
        text-align: center;

        a{
            position: relative;
            top:40px;
            width: 148px;
            font-family: 'lato-semi-bold';
            font-size: 14px;
            background-color: $green;
            padding: 10px 30px;
            border-radius: 4px;
            margin: 0 auto;
            transition: background ease .8s;
            &:hover{
                background-color:$light-green;
               
            }
        } 
    }

}
.landing--home-quote{
    position: relative;
    width: 100%;
    height: 361px;
    z-index: 0;
    .landing--home-overlap{
        position: absolute;
        background: url("../images/overlap.png") center center;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .row{
        text-align: left;
        z-index: 2;
        h3{
            font-family: lato-light;
            padding-top: 80px;
            width: 440px;
        }
        p{
            position: relative;
            top: 40px;
            width: 440px;
            font-size: 18px;
            font-style: italic;
        }
        a{
            position: relative;
            top: 100px;
            font-family: 'lato-regular';
            font-size: 14px;
            color: $green;
            background: rgba($white, 0.9);
            border-radius: 4px;
            padding: 12px 27px;
             transition: background ease .8s;
            &:hover{
                background: rgba($white, 1);
               
            }
        }
    }
}


@media (max-width: 400px){
    .landing--home-desc{
        padding-top: 150px;
    }

}
@media (min-device-width : 768px) 
and (max-device-width : 1024px) 
{
   .landing--home-desc .row--full .col-3-12 .landing--home-circle{
        width: 100%;
        height: 100%;       
    }
   .landing--home-quote .row{
        padding-left: 5%;
    }
    .landing--home-desc .row--full .col-3-12{
        h5{
            width: 100%;
        }
        p{
            width: 100%;
        }
    } 

}
@media (max-width: 767px){
    .landing--home-bg {
        height:500px;
        .landing-home-computer{
            top: 60px;
        }
        .row--full 
        {
            h1{
                font-size: 36px;
                padding-top: 130px;
            }
            p.subtitle{
                width: 100%;
                padding-left: 17%;
                padding-right: 17%;
            }
            p.sublabel{
                width: 100%;
            }
        }
    }
    .landing--home-desc {
        .row--full {
            padding-left: 20px;
            padding-right: 20px;
            .col-3-12{
                .landing--home-circle{
                     width: 230px;
                    height: 230px;
                }

                left: 0;
                text-align: center;
                h5{
                    padding-bottom: 2px;
                    width: 100%;
                }
                p{
                    width: 100%;
                }
                &:last-child{
                    padding-bottom: 0px;
                }
                padding-bottom: 30px;
            }
            img{
                max-width: 100%;
                top:-60px;
                padding-bottom: 70px;
            }
        }
    }
    .landing--home-quote {
        .row {
            padding-left: 20px;
            padding-right: 20%;
            h3{
                width: 100%;
                padding-top: 30px;

            }
            a{
                width: 100%;
                top:50px;
            }
            p{
                width: 100%;
                top:20px;
            }
        }
    }
}