.mainfea--home-bg{
    position: relative;
    height: 524px;
    background-size: cover;
    display: block;
    z-index: 0;
    .landing-home-bg-overlap{
        position: absolute;
        background: url("../images/overlap-black.png") center center;
        z-index: 1;
        width: 100%;
        height: 100%;
     }
     .row--full{  
        z-index: 2; 
        text-align: center;
        padding-top: 50px;
        h1{
            padding-top: 140px;
            width: 840px;
            margin: 0 auto;
        }
        p{
            padding-top: 5px;
            width: 590px;
            margin: 0 auto;
        }
     }
}

.mainfea--home-feature{
    position: relative;
    background-color: $background-mid-grey;
    color: $text-dark;
    .row{
         padding: 70px 0px;
        .mainfea--home-feature-desc{       
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 241px;
            padding-left: 40px;
            h5{
                padding-bottom: 10px;
            }
        }
        .mainfea--home-feature-img{
//            max-width: 431px;
            height: 241px;
            border: 1px solid #333;
            img{
                max-width: 431px;
                max-height: 241px;
            }
        }
    }
}

.mainfea--home-quote{
    position: relative;  
    width: 100%;
    height: 257px;
    z-index: 0;
    .mainfea--home-overlap{
        position: absolute;
        background: url("../images/overlap.png") center center;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .row--full{
        text-align: center;
        z-index: 2;
        h3{
            font-family: 'lato-semi-bold';
            font-size: 30px;
            padding-top: 60px;
            width: 800px;
            margin: 0 auto;
        }
        p{
            position: relative;
            top: 40px;
            width: 200px;
            margin: 0 auto;
            font-size: 18px;
            font-style: italic;
        }
        a{
            position: relative;
            top: 50px;
            font-family: 'lato-regular';
            font-size: 14px;
            color: $green;
            background: #fff;
            border-radius: 4px;
            padding: 12px 27px;
            &:hover{
                opacity: 0.7;
                transition: all ease .8s;
            }
        }
    }
}
@media (max-width: 767px){
    .mainfea--home-feature{
        padding:0 30px;
        .row{
            padding:20px 0;
            .mainfea--home-feature-desc{
                padding-left: 0px;
            }
        }
    }
    .mainfea--home-bg {
        .row--full{
            h1{
                width: 100%;
            }
            p{
                width: 100%;
            }
        }
    }
}