body{   
    font-family: 'lato-light';
    color: #fff;

}

h1{
    font-family: 'lato-semi-bold';
    font-size: 36px;
    text-transform: uppercase;

}

h2{

}

h3{
    font-family: 'lato-regular';
    font-size: 24px;
    &.white{
        color: #fff;
    }
    
}

h4{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'lato-light';
}

h5{
    font-family: 'lato-semi-bold';
}

p{
    font-size: 16px;    
    strong{
        
    }
    
}



@font-face {
  font-family: 'lato-black';
  src: url('../fonts/lato/Lato-Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'lato-black-italic';
  src: url('../fonts/lato/Lato-BlackItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/lato/Lato-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'lato-bold-italic';
  font-style: italic;
  src: url('../fonts/lato/Lato-BoldItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'lato-semi-bold';
  src: url('../fonts/lato/Lato-Semibold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'lato-light';
  src: url('../fonts/lato/Lato-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}



