$white: #FFFFFF;

/* mobile + tablet */
$device: max-width 768px;

/* strictly mobile*/
$strict-mobile: max-width 480px;
/* strictly tablet*/
$mobile-tablet: 480px 768px;

$large-screen: max-width 1200px;

$green: #00A478;
$mid-green: #00774F;
$dark-green: #004734;
$red: #E64C3C;
$dark-red: #CC0A00;
$yellow: #F0C30F;
$orange: #E88801;
$blue: #37A5E2;
$mid-blue: #2980B8;
$dark-blue: #325068;

$light-green: #00BF8C;

$grey: #989898;
$dark-grey: #525252;
$light-grey: #E0E0E0;
$border-light-grey: #AFAFAF;
$text-grey: #A3A3A3;
$text-dark-grey: #4D4D4D;

$mobile-text-grey:#989898;
$mobile-background-dark:#2c3e50;

$white: #FFFFFF;
$another-white: #F1F1F1;

$background-grey: #C8C8C8;
$background-mid-grey: #EDEDED;
$background-beige: #EEEEEE;
$background-navy: #2C3E50;

$nav-bar-height: 55px;